

body{
    margin: 0;
    overflow-x: hidden;
}

.section_head{
    width: 100%;
    height: 50%;
}

/*.image{
    background-color: #77519e;
    width: 100%;
    height: 50px; 
}*/

.gradiente {
    background-image: linear-gradient(to bottom, black, transparent); 
    width: 100%;
    height: 10%;
    position: absolute;
    padding-top: 0;
    top:0;
}
.logo{
    position: absolute;
    top:10px;
    z-index: 9;
}
.menu {
       margin-left: 80px;
    overflow: hidden;
    width:100%;
    padding-top: 0; 
}


.li-menu{
    padding-left: 20px;
    float: left;
    position: relative;
    font-family: verdana; 
    display: flex;

}


.a-menu {
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 7px;
    text-decoration: none;
    opacity:0.5;
}

.a-menu:hover {
    opacity:1;
    color:#866ffc
}  

.menu-li:hover menu-ul, .li-especial.over ul-especial{
    display:block;}


.active:hover ul-especial {
    display: flex;
}

.active ul-especial { 
    top:25px; 
    left:0;
    background-color:#fff; 
    display:none;
    position: absolute;
    flex-direction: column;
    width: auto;
    padding: 0;
}

.li-especial{

}

.a-especial {}


.section{
    width:100%;
    height: auto;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
}


.section-imagem-topo {
    width:100%;
    height: 85%;
    align-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex; 
    background-image:url(../img/opcao2e_fundo.jpg) ;
}

.h1-a {
    font-size: 26px;
    color: #a05cb8;
    float: right;
    margin-right: 20%;

}


.img-yoga-geral {
    width: 550px;
    height: 500px;
    float: left;
    display:flex;
    align-content: center;

}

.img-yoga{
    width: 100%;
    height: 100%
}
.conteudo-a{
    width:100%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:30px;;
    text-align: center;
    font-family: verdana;
    font-size: 15px;

}


.conteudo{
    width:100%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-family: verdana;
    font-size: 15px;

}

.texto {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #452e5b;
    text-align: center;
    font-family: verdana;
}


h1{
    text-align: center;
    font-family: verdana;
    color: #866ffc;
    font-size:23px;
}


input {
    outline: none;
    display: flex;
    float: right;
    margin-right: 140px;
    margin-top: 5px;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}


input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #b67fb5;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

#demo-2 input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
#demo-2 input[type=search]:hover {
    background-color: #fff;
}
#demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#demo-2 input:-moz-placeholder {
    color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}

hr {
    max-width: 400px;
    margin-top: 40px;
    margin-bottom:30px;
    border-width: 1px;
    border-color: rgba(90, 42, 107, 0.1)
}
.section-icones{
    width:100%;
    height: auto;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
}

.div-icones {

    display: flex;
}

.icone{
    font-size:150px;
    margin-top: 80px;
    margin-bottom:50px;
    margin-left: 100px;
    margin-right: 100px;
    color: #4d39b8
}
.section-materias-recentes{
    width:100%;
    height: auto;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
}

.div-materias {

    display: flex;
}

.materia{
    font-size:150px;
    margin-top: 80px;
    margin-bottom:50px;
    margin-left: 100px;
    margin-right: 100px;
    color: #4d39b8
}

.footer{
    width:100%;
    height: 40%;
    align-content: center;
    padding-bottom: 20px;
    padding-top: 20px;


}

.contato-footer{
    color:#452e5b;
    height: 50%;
    float: left;
    display:flex;

}

.p-footer {


}

.conteudo-img-config-footer {
    width: 10%;
    margin-right: 40%;
    float: right;
    display:flex;

}

.assinatura {
    padding-top: 15px;
    padding-bottom: 3px;
    height: 55px;
    font-size: 12px;
    background-color: #4d39b8;
    text-align: center;
    color:white;
}

