body{
    margin: 0 !important;
    overflow-x: hidden;
}

.section_head{
    width: 100%;
    height: 50%;
}

/*.image{
    background-color: #77519e;
    width: 100%;
    height: 50px; 
}*/

.gradiente {
    background-image: linear-gradient(to bottom, black, transparent); 
    width: 100%;
    height: 10%;
    position: fixed;
    padding-top: 0;
    top:0;
}
.logo{
    position: absolute;
    top:15px;
    margin-left:40px;
    z-index: 9;
}
.menu{
    margin-top: 15px;
    margin-left: 130px;
    color: #eac9f5;
    font-family: verdana;
    font-size: 18px;
    position:fixed;
}
.menu-auxiliar {
    color:orange;}

.drop{
    opacity: 0;
    width: 50px;
    margin-left: 160px;
}
.drop .span:hover{
    display: block;
    opacity: 1;
}
.span_um{
    position: absolute;
    top: 0px; 
    margin-left:60px;
    text-decoration: none;
}
.span_um:hover{
    color: white;
}
.span{
    position: absolute;
    top: 0px;
    left: 10px;
}
.span:hover{
    color: white; 
}
.span__dois{
    position: absolute;
    top: 0px;
    left: 115px;
}
.span__dois:hover{
    color: white;
}
.span__tres{
    position: absolute;
    top: 0px;
    left: 240px;
    margin-right:0px;
}
.span_tres:hover {
    color:white;
}
.section{
    width:100%;
    height: auto;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
}


.section-imagem-topo{
    width:100%;
    height: 85%;
    align-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex; 
    background-image:url(../img/opcao2e_fundo.jpg) ;
}

.h1-a {
    font-size: 26px;
    color: #a05cb8;
    float: right;
    margin-right: 20%;

}


.img-yoga-geral {
    width: 550px;
    height: 500px;
    float: left;
    display:flex;
    align-content: center;

}

.img-yoga{
    width: 100%;
    height: 100%
}
.conteudo-a{
    width:100%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:30px;;
    text-align: center;
    font-family: verdana;
    font-size: 15px;

}


.conteudo{
    width:100%;
    height: auto;
    margin-left: 80px;
    margin-right: 90px;
    font-family: verdana;
    font-size: 15px;

}

.row{
    display:flex;
    justify-content:center;
}

.texto {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #452e5b;
    text-align: center;
    font-family: verdana;
}


h2{
    margin-top:0px;
    margin-bottom:30px;
    text-align: center;
    font-family: verdana;
    color: #452e5b;
}
h1{
    padding-top:40px;
    text-align: center;
    font-family: verdana;
    color: #866ffc;
    font-size:23px;
}
.h1-perfil{
    padding-top:0px;
    text-align: center;
    font-family: verdana;
    color: #866ffc;
    font-size:23px;
}
.h1-user{
    padding-top:40px;
    text-align: center;
    font-family: verdana;
    color: #866ffc;
    font-size:20px;
    margin-left:15px;
}
.h1-user-tabela{
    padding-top:0px;
    margin-top:0px;
    text-align: center;
    font-family: verdana;
    color: #866ffc;
    font-size:20px;
    margin-left: -270px;
}
h3{
    font-family: verdana;
    color: #866ffc;
    text-align:center;
}

.p-t{
    color: #452e5b;
    text-align: justify;
    font-size:16px;

}


input {
    text-align: right;
    outline: none;
    display: flex;
    float: right;
    margin-right: 140px;
    margin-top: 35px;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}


input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #b67fb5;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

#demo-2 input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
#demo-2 input[type=search]:hover {
    background-color: #fff;
}
#demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#demo-2 input:-moz-placeholder {
    color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}

hr {
    max-width: 400px;
    margin-top: 20px;
    margin-bottom:20px;
    border-width: 1px;
    border-color: rgba(90, 42, 107, 0.1)
}
.section-icones{
    width:100%;
    height: auto;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
}

.div-icones {

    display: flex;
    justify-content: center;
}

.icone{
    font-size:150px;
    padding:100px;
    padding-bottom:0px;
    color: #4d39b8
}
.t-icone{
    font-size:20px;
    padding-top:0px;
    padding-right:115px;
    padding-left: 135px;

    color: #4d39b8
}
.section-materias-recentes{
    width:100%;
    height: auto;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
}

.div-materias {

    display: flex;
}

.materia{
    font-size:150px;
    margin-top: 80px;
    margin-bottom:50px;
    margin-left: 100px;
    margin-right: 100px;
    color: #4d39b8
}

.materias-home{
    display:fluid;

}

.materia-item{
    padding-left: 5%;
    padding-right: 6%;
    width: 300px;
    
}
.materia-item-m{
    padding-left: 2%;
    padding-right: 2%;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.c-continuar-lendo{

}
.c-continuar-lendo:link{
    font-family: verdana;
    color: #866ffc;
    text-decoration: none;
}
.c-continuar-lendo:hover {
    color: #4d39b8;
}

.centralizar-paginacao{
    text-align: center;
}

.pagination {
    display: inline-block;
    padding: 30px;
}

.pagination a {
    font-family: verdana;
    font-size:13px;
    color: #452e5b;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #866ffc;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
.div-botao-topo{
    width:100px;
    text-align: right;
    margin-left:90%;
    margin-bottom: 5%;
}
#botao-topo {
    bottom: 20px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #866ffc;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    margin-right:50px;
    float: right;

}
#botao-topo:hover {
    background-color: #452e5b;
}



.footer{
    width:100%;
    height: 40%;
    align-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 10%;
}


.div-esquerda-contato{
    padding-left:3%;
    width: 38%;
    height: 200px;
    margin:0;
    float:left;
    display: flex;
}

.div-direita-contato{
    float:right;
    width:40%;
    text-align: center;
    margin-right: 250px;
    justify-content: center;
}
.mapa-contato {
    width: 500px;
    height:280px;
    float:left;
}

.p-footer{
    font-size:20px;
    font-family: verdana;
    color: #452e5b;
}

.icones-social{
    margin-top:130px;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.6;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


.assinatura {
    padding-top: 15px;
    padding-bottom: 3px;
    height: 55px;
    font-size: 15px;
    background-color: #4d39b8;
    text-align: center;
    color:white;
}

.materia-especifica{
    text-align:center;
    padding-left:100px;
    padding-right: 100px;
    padding-top:10px;
}

.input-email[type=text], .input-senha[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.button-login {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}

.button-login:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.conteudo-login {
    padding: 15px;
    background-color:#c8bdfc;
}

.p-cadastrar{
    color:white;
}
.a-cadastrar{
    color:red;
    text-decoration: none;
    font-family: verdana;
    font-size: 14px;
}

span.psw {
    float: right;
    padding-top: 16px;
    color:white;
}

/* The Modal (background) */
.modal {
    font-family: verdana;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    color:white;
}

/* Modal Content/Box */
.modal-content {
    background-image: url(../img/galaxia.jpg);
    border-radius: 10px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;

    }
    .cancelbtn {
        width: 100%;
    }
}

.esquerda{
    margin-top:-40px;
    float:left;
    width:18%;
}

.direita{
    float:right;
    width:80%;
    margin-top:20px;
    margin-right: -120px;

}

.img-user-perfil{
    width: 60%;
    margin-left: 50px;
    margin-bottom:10px;
}
.box-perfil-user {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0;

}

.p-user{
    color: #452e5b;

}
.button-edit-user{
    color: green;
}
.button-edit-user:hover{
    color: blue;
}
.button-sair-user{
    color: red;
}
.button-sair-user:hover{
    color: black;
}

#customers {
    font-family: Verdana;
    border-collapse: collapse;
    width: 75%;
}

#customers td, #customers th {
    border: 1px solid #866ffc;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #866ffc;;
    color: white;
}

.icone-perfil{
    font-size:25px;
    padding:10px;
    color: #4d39b8;
}
.icone-editar-user{
    font-size:20px;
    margin-left: 5px;
}

.botao-favoritar {
    bottom: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #866ffc;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    text-align: right;
}
.botao-favoritar:hover {
    background-color: #452e5b;
}

.p-modal{
    font-family: verdana;
    font-size:20px;
}

.form{
    width: 100%;
    margin-left: 50px;
    font-family: verdana;
    font-size:12px;
}

.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
ul {
    list-style: none;
}
.text-center {
    text-align: center;
}
.bg-1 {
    background: #866ffc;
}
.text-fff {
    color: #fff;
}
.cell {
    display: table-cell !important;
    margin-left:10px;
    color:#452e5b;
}
.cell2 {
    display: table-cell !important;
    margin-left:50px;
    margin-top:5px;
    color:#fff;
    height: 30px;

}
.cell-100p {
    width: 100%;
}
.cell-50 {
    min-width: 50px;
    max-width: 50px;
}
.cell-100 {
    min-width: 100px;
    max-width: 100px;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}
.scrollbar::-webkit-scrollbar {
    width: 10px;
}
.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* CHECKBOX */
.checkbox {
    font-size: 20px;
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    background: #557daa;
    vertical-align: middle;
}
.checkbox:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: #fff;
    border: 1px solid #557daa;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.checkbox:after {
    content: "";
    width: 0.7em;
    height: 0.5em;
    position: absolute;
    top: 0.14em;
    left: 0.16em;
    border-left: 0.15em solid #fff;
    border-bottom: 0.15em solid #fff;
    background-position: top left, bottom left;
    transform: rotate(-45deg);
    display: none;
    cursor: pointer;
}
.checkbox:checked:before {
    background: #557daa;
}
.checkbox:checked:after {
    display: block;
}
/* SWITCH BUTTON */
.btnSwitch {
    font-size: 10px;
    width: 5em;
    height: 0.5em;
    cursor: pointer;
    position: relative;
}
.btnSwitch:before {
    content: "";
    display: block;
    line-height: 2.1em;
    width: 100%;
    height: 100%;
    background: #dedede;
    transition: background 0.2s;
}
.btnSwitch:after {
    content: "OFF";
    display: block;
    width: 3em;
    height: 3em;
    border: 1px solid #dedede;
    background: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    text-align: center;
    line-height: 3em;
    color: #777;
    transition: left 0.2s;
}
.btnSwitch:checked:before {
    background: #557daa;
}
.btnSwitch:checked:after {
    content: "ON";
    background: #557daa;
    color: #fff;
    border: none;
    left: calc(100% - 2em);
}
.text{
    color:#452e5b;
    font-family: verdana;
    text-decoration: none;
}

/* RESTYLE */
.tableAdmin {
    overflow-x: auto;
    background: #fff;
    border: 1px solid #ccc;
    margin: 100px;
}
.tableAdmin::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.tableAdmin::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.tableAdmin::-webkit-scrollbar-thumb {
    background: #555; 
}
.tableAdmin::-webkit-scrollbar-thumb:hover {
    background: #557daa; 
}
.tableAdmin .cell {
    padding: 10px;
    vertical-align: middle;
}
.tableAdmin .btnEdit, .tableAdmin .btnRemove {
    padding: 5px;
    margin: 0 5px;
    text-decoration: none;
}
.tableAdmin .tableBody {
    min-width: 768px;
}
.tableAdmin .list.lv01>li {
    border-bottom: 1px solid #ccc;
}
.tableAdmin .sublist {
    display: none;
    border-top: 1px solid #ccc;
}
.tableAdmin .sublist>li {
    padding-left: 20px;
}
.tableAdmin .sublist>li:nth-child(2n+1) {
    background: #f1f1f1;
}
.btnDropDown {
    cursor: pointer;
    transition: 0.2s;
}
.btnDropDown.is-active {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.tableHeader {
    padding: 10px 20px;
}
.tableHeader .title {
    float: left;
    color:#452e5b
}
.tableHeader .btnArea {
    float: right;
}

.tableHeader .btnSalvar {
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    border: none;
    padding: 0 10px;
    height: 2.1em;
    cursor: pointer;
    background-color: #54b332;
}
.tableHeader .btnCancelar {
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    border: none;
    padding: 0 10px;
    height: 2.1em;
    cursor: pointer;
    background-color: #e82c2c;
}
.tableHeader .btnAdicionar {
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    border: none;
    padding: 0 10px;
    height: 2.1em;
    cursor: pointer;
    background-color: #54b332;
}

.tableBody.v02 {

    min-width: auto;
    padding: 20px;
    border-top: 1px solid #ccc;
}
/* TABLE DETAIL */
.tableAdmin .formGroup {
    margin-bottom: 20px;
}
.formGroup>.label {
    float: left;
    width: 100px;
    padding: 5px 0 10px 0;
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
    font-family: verdana;
    color:#452e5b
}
.formGroup>.input {
    padding: 5px;
}
.formGroup textarea {
    width: 100%;
    min-height: 10em;
}

.cadastro-ok{
    width: 100%;
    height:40px;
    background-color: green;
    font-family: verdana;
    color:white;

}
.cadastro-not{
    width: 100%;
    height:40px;
    background-color: red;
    font-family: verdana;
    color:white;

}

.img-exibir{
    width: 300px;
}

.per-materia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.row-materia{
    width: 100%;
}