body{
    margin: 0;
    overflow-x: hidden;
}

.section_head{
    width: 100%;
    height: 50%;
}

/*.image{
    background-color: #77519e;
    width: 100%;
    height: 50px; 
}*/

.gradiente {
    background-image: linear-gradient(to bottom, black, transparent); 
    width: 100%;
    height: 10%;
    position: absolute;
    padding-top: 0;
    top:0;
}
.logo{
    position: absolute;
    top:10px;
    z-index: 9;
}
.menu {
    margin-left: 80px;
    overflow: hidden;
    width:100%;
    padding-top: 0; 
}


.li-menu{
    padding-left: 20px;
    float: left;
    position: relative;
    font-family: verdana; 
    display: flex;

}


.a-menu {
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 7px;
    text-decoration: none;
    opacity:0.5;
}

.a-menu:hover {
    opacity:1;
    color:#866ffc
}  

.menu-li:hover menu-ul, .li-especial.over ul-especial{
    display:block;}


.active:hover ul-especial {
    display: flex;
}

.active ul-especial { 
    top:25px; 
    left:0;
    background-color:#fff; 
    display:none;
    position: absolute;
    flex-direction: column;
    width: auto;
    padding: 0;
}

.li-especial{

}

.a-especial {}


.section{
    width:100%;
    height: auto;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
}


.section-imagem-topo {
    width:100%;
    height: 85%;
    align-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex; 
    background-image:url(../img/opcao2e_fundo.jpg) ;
}

.h1-a {
    font-size: 26px;
    color: #a05cb8;
    float: right;
    margin-right: 20%;

}


.img-yoga-geral {
    width: 550px;
    height: 500px;
    float: left;
    display:flex;
    align-content: center;

}

.img-yoga{
    width: 100%;
    height: 100%
}
.conteudo-a{
    width:100%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:30px;;
    text-align: center;
    font-family: verdana;
    font-size: 15px;

}


.conteudo{
    width:100%;
    height: auto;
    margin-left: 90px;
    margin-right: 90px;
    justify-content: center;
    font-family: verdana;
    font-size: 15px;

}

.row{
    display:flex;
    align-items: center;
    justify-content:center;
}

.texto {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #452e5b;
    text-align: center;
    font-family: verdana;
}


h2{
	margin-top:0px;
	margin-bottom:30px;
    text-align: center;
    font-family: verdana;
    color: #452e5b;
}
h1{
    padding-top:40px;
    text-align: center;
    font-family: verdana;
    color: #866ffc;
    font-size:23px;
}
h3{
    font-family: verdana;
    color: #866ffc;
	text-align:center;
}

.p-t{
   color: #452e5b;
   text-align: justify;
}


input {
    outline: none;
    display: flex;
    float: right;
    margin-right: 140px;
    margin-top: 5px;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}


input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #b67fb5;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

#demo-2 input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
#demo-2 input[type=search]:hover {
    background-color: #fff;
}
#demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#demo-2 input:-moz-placeholder {
    color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}

hr {
    max-width: 400px;
    margin-top: 20px;
    margin-bottom:20px;
    border-width: 1px;
    border-color: rgba(90, 42, 107, 0.1)
}
.section-icones{
    width:100%;
    height: auto;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
}

.div-icones {

    display: flex;
	justify-content: center;
}

.icone{
    font-size:150px;
    padding:100px;
   
    color: #4d39b8
}
.section-materias-recentes{
    width:100%;
    height: auto;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
}

.div-materias {

    display: flex;
}

.materia{
    font-size:150px;
    margin-top: 80px;
    margin-bottom:50px;
    margin-left: 100px;
    margin-right: 100px;
    color: #4d39b8
}

.materias-home{
    display:fluid;
   
}

.materia-item{
    padding-left: 5%;
    padding-right: 6%;
    width: 300px;
}
.materia-item-m{
    padding-left: 2%;
    padding-right: 2%;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.c-continuar-lendo:link{
    font-family: verdana;
    color: #866ffc;
    text-decoration: none;
}
.c-continuar-lendo:hover {
  color: #4d39b8;
}

.centralizar-paginacao{
	text-align: center;
}

.pagination {
  display: inline-block;
  padding: 30px;
}

.pagination a {
  font-family: verdana;
  font-size:13px;
  color: #452e5b;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  }

.pagination a.active {
  background-color: #866ffc;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: ddd;
  border-radius: 5px;
}

#botao-topo {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #866ffc;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  margin-bottom:100px;
}

#botao-topo:hover {
  background-color: #452e5b;
}

.footer{
    width:100%;
    height: 40%;
    align-content: center;
    padding-bottom: 20px;
    padding-top: 20px;


}

.contato-footer{
    color:#452e5b;
    height: 50%;
    float: left;
    display:flex;

}

.conteudo-img-config-footer {
    width: 10%;
    margin-right: 40%;
    float: right;
    display:flex;

}

.assinatura {
    padding-top: 15px;
    padding-bottom: 3px;
    height: 55px;
    font-size: 12px;
    background-color: #4d39b8;
    text-align: center;
    color:white;
}

.materia-especifica{
  text-align:center;
  padding-left:50px;
  padding-right: 50px;
  padding-top:10px;
}

.input-email[type=text], .input-senha[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.button-login {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button-loggin:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.conteudo-login {
  padding: 16px;
  background-color:#c8bdfc;
  
}

span.psw {
  float: right;
  padding-top: 16px;
  color:white;
}

/* The Modal (background) */
.modal {
 font-family: verdana;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  color:white;
}

/* Modal Content/Box */
.modal-content {
    background-image: url(../img/galaxia.jpg);
	  border-radius: 10px;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;

  }
  .cancelbtn {
     width: 100%;
  }
}

